<!--
<ul>
<li *ngFor="let p of pacientes">{{ p.nombres }}     {{p.apellidos}}</li>

</ul>
-->

<router-outlet></router-outlet>

<div class="example-header">
  <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar paciente">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="idPaciente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idPaciente}} </td>
  </ng-container>

  <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
      <!-- <input matInput type="text" [value]="element.nombres" >-->
  </ng-container>

  <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" [routerLink]="['edicion', element.idPaciente]">
           <mat-icon>ballot</mat-icon>
       </button>
       <button mat-button color="primary" (click)="eliminar(element.idPaciente)">
            <mat-icon>delete</mat-icon>
       </button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad"
(page)="mostrarMas($event)"></mat-paginator>

<button mat-fab color="accent" style="float: right" routerLink="/pages/paciente/nuevo" >
  <mat-icon>add</mat-icon>
</button>
