<router-outlet></router-outlet>

<div [hidden]="route.children.length > 0">


<div class="example-header">
  <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar signos">
  </mat-form-field>
</div>



<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="idPaciente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.paciente.idPaciente}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
      <!-- <input matInput type="text" [value]="element.nombres" >-->
  </ng-container>

  <ng-container matColumnDef="temperatura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </th>
      <td mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
  </ng-container>

  <ng-container matColumnDef="pulso">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </th>
    <td mat-cell *matCellDef="let element"> {{element.pulso}} </td>
</ng-container>

<ng-container matColumnDef="ritmoRespiratorio">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo Respiratorio </th>
  <td mat-cell *matCellDef="let element"> {{element.ritmoRespiratorio}} </td>
</ng-container>


<ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" [routerLink]="['edicion', element.idSignos]">
           <mat-icon>ballot</mat-icon>
       </button>
       <button mat-button color="primary" (click)="eliminar(element.idSignos)">
            <mat-icon>delete</mat-icon>
       </button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad"
(page)="mostrarMas($event)"></mat-paginator>

<button mat-fab color="accent" style="float: right" routerLink="/pages/signos/nuevo" >
  <mat-icon>add</mat-icon>
</button>

</div>
