<div>
  <mat-form-field>
      <input matInput placeholder="Nombres" [(ngModel)]="medico.nombres">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Apellidos" [(ngModel)]="medico.apellidos">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="CMP" [(ngModel)]="medico.cmp" max="15" maxlength="15" type="number">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="foto" [(ngModel)]="medico.fotoUrl">
  </mat-form-field>
  <img mat-card-image [src]="medico.fotoUrl" alt="" width="50%" height="50%" *ngIf="medico.fotoUrl != null">
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cerrar()">Cancelar</button>
